# BEGIN ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
[defaults]
vault_password_file=.password
[galaxy]
server_list = rh-certified, validated, community

[galaxy_server.rh-certified]
url=https://controller.kklqr.sandbox2948.opentlc.com/pulp_ansible/galaxy/rh-certified/
username=lab-user
password=NjE1OTQx
[galaxy_server.validated]
url=https://controller.kklqr.sandbox2948.opentlc.com/pulp_ansible/galaxy/validated/
username=lab-user
password=NjE1OTQx
[galaxy_server.community]
url=https://controller.kklqr.sandbox2948.opentlc.com/pulp_ansible/galaxy/community/
username=lab-user
password=NjE1OTQx
# END ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
