# BEGIN ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
[defaults]

[galaxy]
server_list = rh-certified, validated, community

[galaxy_server.rh-certified]
url=https://controller.np76p.sandbox5324.opentlc.com/pulp_ansible/galaxy/rh-certified/
username=lab-user
password=MzAyOTEx
[galaxy_server.validated]
url=https://controller.np76p.sandbox5324.opentlc.com/pulp_ansible/galaxy/validated/
username=lab-user
password=MzAyOTEx
[galaxy_server.community]
url=https://galaxy.ansible.com/
# END ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
